block alerts 
  if flash.length > 0
    .container
      .mt-2.alert.alert-danger.alert-dismissible.fade.show(role='alert')= flash
        button.btn-close(type="button", data-bs-dismiss="alert",aria-label="Close")