extends layout

block content
  h1= title
  p Welcome to #{title}

  if errors  
    each error in errors
      p= error.param
      p= error.msg

  form(action="/login", method="post")
    div
      .mb-3
      label.form-label(for="username") username: 
      input#username(type="text", name="username")
      
    .mb-3    
    div
      label(for="password") password: 
      input#password(type="password", name="password")

    
    button.btn.btn-outline-primary(type="submit") Login
